<div class="m-16">
  <h1>Timeline</h1>
</div>

<div class="m-16" *ngIf="project?.ElementSet">
  <mat-card *ngFor="let timeline of project.ElementSet; let i = index">
    <mat-card-title>
      {{ timeline.Name }}
    </mat-card-title>
    <mat-card-content>
      {{ timeline?.ElementItemSet?.length / 2 }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/edit/{{ timeline.Name }}" (click)="selectTimeline(i)">
        Edit
      </button>
      <button mat-button routerLink="/{{currentUser.UserName}}/{{ timeline.Name }}">
        View
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="m-16">
  <form #historyForm="ngForm" autocomplete="off">
    <mat-form-field>
      <input matInput id="entry" name="entry" type="text" placeholder="Write something"
        [(ngModel)]="entry" class="form-control" required />
    </mat-form-field>
    <button mat-flat-button *ngIf="project?.ElementSet?.length > 0" (click)="createHistroyContent()" [disabled]="historyForm.form.invalid || isBusy">
      Submit
    </button>
    <button mat-flat-button class="other" *ngIf="selectedElementCell !== null || changeElementName" (click)="cancelEditing()"
      color="warn" [disabled]="historyForm.form.invalid || isBusy">
      Cancel
    </button>
  </form>
</div>

<div class="m-16 d-g" *ngIf="project !== null">
  <div *ngIf="selectedElementCellSet !== null" class="m-16 mb-150">
    <ul class="timeline">

      <li class="tl-header">
        <div class="btn white">
          <a (click)="editTimelineHeader(selectedElement)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            {{ selectedElement.Name }}
          </a>
        </div>
      </li>

      <li class="tl-item" *ngFor="let timeline of selectedElementCellSet; let i = index">
        <div class="tl-wrap b-primary">
          <span class="tl-date text-muted">{{ timeline.CreatedOn | amTimeAgo }}</span>
          <div (click)="edit(timeline)" class="tl-content box-color text-color box-shadow p-a-sm f-l tl-c-w80p">
            <span class="arrow b-white left pull-top"></span>
            {{ timeline.StringValue }}
          </div>
          <div class="tl-content tl-content-bg-ld box-color text-color box-shadow p-a-sm">
            <span class="arrow arrow-bg-ld b-white left pull-top"></span>
            <span class="pull-right">
              <i class="fa fa-times" (click)="removeHistoryItem(timeline.ElementItem)" aria-hidden="true"></i>
            </span>
            <span [ngClass]="{'warning': selectedElementLikeCountSet[i]?.UserElementCellSet[0]?.DecimalValue < 0, 'success': selectedElementLikeCountSet[i]?.UserElementCellSet[0]?.DecimalValue > 0 }"
              class="pull-right label">
              {{ decimalValueTotal(i) }}
            </span>
            <i (click)="changeLikeCount(-1, i)" class="fa fa-thumbs-down p2406" aria-hidden="true"></i>
            <span class="like">
              <i (click)="changeLikeCount(1, i)" class="fa fa-thumbs-up p2406" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </li>
      <li class="tl-item tl-left">
        <div class="tl-wrap b-warn">
          <span class="tl-date text-muted">{{ selectedElement?.CreatedOn | amTimeAgo }}</span>
          <div class="tl-content box-color text-color box-shadow p-a-sm f-l tl-c-w80p">
            <span class="arrow b-white left pull-top"></span>
            Created
          </div>
        </div>
      </li>
      <li class="tl-footer">
        <i class="ui-icon fa fa-history b-white c-white b-2x info"></i>
      </li>
    </ul>
  </div>

</div>
