.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
}

.white {
  background-color: #fff;
}

.btn.white, .btn.btn-default, .btn.btn-secondary {
  border-color: rgba(120, 130, 140, 0.13);
}

.box-shadow-z2 .box-color {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 -1px 0px rgba(0, 0, 0, 0.02);
}


.text-muted {
  color: inherit !important;
  opacity: 0.6;
}


.b-success {
  border-color: #22b66e;
}

.b-info {
  border-color: #2196f3;
}

.text-color {
  color: rgba(0, 0, 0, 0.87);
}

.p-a-sm {
  padding: 0.5rem;
}

.p-a {
    padding: 1rem;
}
.b-light {
    border-color: #F6FAFB;
}

.b-t {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
}

.tl-content {
  display: inline-block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box, .box-color {
  background-color: #fff;
  position: relative;
  margin-bottom: 1.5rem;
}

.b-white {
  border-color: #ffffff;
}
.b-white {
  border-color: #fff;
}

.w-xl {
  width: 320px;
}

.p-x {
  padding-right: 1rem;
  padding-left: 1rem;
}

.m-b-sm {
  margin-bottom: 0.5rem;
}

/*
Timeline
*/
.timeline {
  margin: 0;
  padding: 0; }

.tl-item {
  display: block;
}
  .tl-item::after {
    content: "";
    display: table;
    clear: both;
  }

.visible-left {
  display: none;
}

.tl-wrap {
  display: block;
  margin-left: 10em;
  padding: 15px 0 15px 20px;
  border-style: solid;
  border-color: rgba(120, 130, 140, 0.13);
  border-width: 0 0 0 2px;
}
  .tl-wrap::after {
    content: "";
    display: table;
    clear: both;
  }
  .tl-wrap:before {
    position: relative;
    content: "";
    float: left;
    top: 15px;
    margin-left: -27px;
    width: 7px;
    height: 7px;
    border-color: inherit;
    border-width: 3px;
    border-radius: 50%;
    border-style: solid;
    background: #F6FAFB;
    box-shadow: 0 0 0 4px #F6FAFB;
  }

.tl-date {
  position: relative;
  top: 10px;
  float: left;
  margin-left: -9.5em;
  display: block;
  width: 7em;
  text-align: right;
}

.tl-content {
  display: inline-block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
  .tl-content.block {
    display: block;
    width: 100%;
  }
  .tl-content.panel {
    margin-bottom: 0;
  }

.tl-header {
  display: block;
  width: 20em;
  text-align: center;
  margin-left: 1px;
}

.timeline-center .tl-item {
  margin-left: 50%;
}
  .timeline-center .tl-item .tl-wrap {
    margin-left: -2px;
  }

.timeline-center .tl-header {
  width: auto;
  margin-left: -1px;
}

.timeline-center .tl-left {
  margin-left: 0;
  margin-right: 50%;
}
  .timeline-center .tl-left .hidden-left {
    display: none !important;
  }
  .timeline-center .tl-left .visible-left {
    display: inherit;
  }
  .timeline-center .tl-left .tl-wrap {
    float: right;
    margin-right: 0px;
    border-left-width: 0;
    border-right-width: 2px;
    padding-left: 0;
    padding-right: 20px;
  }
    .timeline-center .tl-left .tl-wrap:before {
      float: right;
      margin-left: 0;
      margin-right: -26px;
    }
  .timeline-center .tl-left .tl-date {
    float: right;
    margin-left: 0;
    margin-right: -8.5em;
    text-align: left;
  }

/* Arrow */
.arrow {
  position: absolute;
  z-index: 10;
}

  .arrow:before, .arrow:after {
    position: absolute;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-width: 9px;
    border-color: transparent;
    border-style: solid;
  }
  .arrow:after {
    border-width: 8px;
  }
  .arrow.pull-in {
    z-index: -1;
  }
  .arrow.top {
    top: -9px;
    left: 50%;
    margin-left: -9px;
  }

    .arrow.top.pull-in {
      top: -4px;
    }
    .arrow.top:before {
      border-bottom-color: rgba(120, 130, 140, 0.13);
      border-top-width: 0;
    }
    .arrow.top:after {
      top: 1px;
      left: 1px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: inherit;
      border-left-color: transparent;
      border-top-width: 0;
    }

  .arrow.right {
    top: 50%;
    right: 0;
    margin-top: -9px;
  }
    .arrow.right.pull-in {
      right: 4px;
    }
    .arrow.right:before {
      border-left-color: rgba(120, 130, 140, 0.13);
      border-right-width: 0;
    }
    .arrow.right:after {
      top: 1px;
      left: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: inherit;
      border-right-width: 0;
    }

  .arrow.bottom {
    bottom: 0;
    left: 50%;
    margin-left: -9px;
  }
    .arrow.bottom.pull-in {
      bottom: 4px;
    }
    .arrow.bottom:before {
      border-top-color: rgba(120, 130, 140, 0.13);
      border-bottom-width: 0;
    }
    .arrow.bottom:after {
      top: 0px;
      left: 1px;
      border-top-color: inherit;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-bottom-width: 0;
    }

  .arrow.left {
    top: 50%;
    left: -9px;
    margin-top: -9px;
  }
    .arrow.left.pull-in {
      left: -4px;
    }
    .arrow.left:before {
      border-right-color: rgba(120, 130, 140, 0.13);
      border-left-width: 0;
    }
    .arrow.left:after {
      top: 1px;
      left: 1px;
      border-top-color: transparent;
      border-right-color: inherit;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-left-width: 0;
    }

  .arrow.pull-left {
    left: 18px;
  }

  .arrow.pull-right {
    left: auto;
    right: 26px;
  }

    .arrow.pull-top {
    top: 18px;
  }

  .arrow.pull-bottom {
    top: auto;
    bottom: 26px;
  }

  .arrow.b-primary:before,
  .arrow.b-info:before,
  .arrow.b-success:before,
  .arrow.b-warning:before,
  .arrow.b-danger:before,
  .arrow.b-accent:before,
  .arrow.b-dark:before {
    border-color: transparent;
  }

.mat-form-field {
  float: left;
}

.mat-flat-button {
  margin: 16px 0 0 34px;
}

.primary {
  color: rgba(255, 255, 255, 0.87);
  background-color: #4BC0C0;
}

.b-primary {
  border-color: #4BC0C0;
}

.mb-150 {
  margin-bottom: 150px !important;
}
