<div class="m-16">
  <h1>
    Timeline
  </h1>
</div>
<div class="m-16">
  <form #historyForm="ngForm" autocomplete="off">
    <div class="g-mt-20 m-16">
      <mat-form-field>
        <input matInput id="entry" name="entry" type="text" placeholder="Write something!" [(ngModel)]="entry" class="form-control" required />
      </mat-form-field>
      <button mat-flat-button (click)="createHistroyContent()" [disabled]="historyForm.form.invalid || isBusy">
        Submit
      </button>
    </div>
  </form>
</div>
<div *ngIf="selectedElementCellSet !== null" class="m-16 mb-150">
  <ul class="timeline">
    <li class="tl-header">
      <div class="btn white">My History</div>
    </li>
    <li class="tl-item" *ngFor="let cell of selectedElementCellSet">
      <div class="tl-wrap b-primary">
        <span class="tl-date text-muted">{{ cell.CreatedOn | amTimeAgo }}</span>
        <div class="tl-content box-color text-color box-shadow p-a-sm">
          <span class="arrow b-white left pull-top"></span>
          {{ cell.StringValue }}
        </div>
      </div>
    </li>

    <li class="tl-header">
      <div class="btn btn-sm white btn-rounded">History Timeline on Backbone</div>
    </li>
  </ul>
</div>
