<div class="text-center bg">
  <div class="wrapper">
    <div id="landing-img" class="img"></div>
    <div id="landing-text">
      <div class="title m-t-120">Entire history of you</div>
      <div class="subtitle">With History, you can easily create public lists that you can share</div>
      <div class="g-mt-20 btn">
        <button mat-raised-button routerLink="/app/getting-started" class="button">Getting started</button>
      </div>
    </div>
  </div>
</div>

<div class="landing-content">
  <div class="landing">
    <div class="p-50">
      Easy to start
      <div>
        Start with predefined templates, and quickly create a profile for yourself.
      </div>
    </div>
    <div class="p-50">
      Slick Dashboard
      <div>
        Keep all your lists under a one slick profile page.
      </div>
    </div>
  </div>
</div>
